@charset "UTF-8";
/* CSS Document */

body {
			font-family: "sans-serif", "serif", Verdana, "Verdana Bold", "Times New Roman", Helvetica, Georgia;
			}
		
		.grid-container{
			display: grid;
			grid-template-areas: "header header" "content content" "footer footer";
			grid-template-columns: 200px 1fr ;
			grid-template-rows: 80px 1fr  80px;
			gap: 0px;
			height: 100vh;
			padding: 10px;
			box-sizing: border-box;
		}
		
		.header{
			grid-area: header;
			background-color: #FFFFFF;
			color: #100F0F;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
			border-radius: 6px;
			text-align: center;
		}

		.content{
			display: grid;
			grid-template-areas: "items";
			grid-template-columns:2fr 2fr ;
			gap:15px;
			grid-area: content;
			background-color: #FFFFFF;
			padding: 10px;
			border-radius: 6px;
			margin-bottom: 20px;
			
		}
		
		.items{
			background-color: #FFFFFF;
			border: 1.5px solid #B2B2B2;
			padding: 20px;
			border-radius: 6px;
			text-align: center;
			width: 90%;
			height: 300px;
			margin: 20px;
			flex-wrap: wrap;
			
		}
		.bottoms{
			width: 50px;
			background-color: #7A1416;
			color: white;

			padding: 10px;
			border-radius: 30px;
			text-align: center;
			margin: 20px;
			
}
.botton{
	background-color: #7A1416;
			color: white;
			padding: 10px;
			border-radius: 30px;
			text-align: center;
	float: right;
	align-items: flex-end;
	margin-left: 70%;
		
}

		
		.footer {
			grid-area: footer;
			background-color: #333;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1rem;
			border-radius: 6px;
			padding: 10px;
			margin: 20px;
		}
		nav {
			display: flex;
			flex-direction:row;
			text-align: center;
			text-decoration: none;
			
		}
		nav a {
			text-decoration: none;
			padding: 10px;
			color: black;
			font-size: 18px;
		}
		a:hover {
			color: #920B26;
		}
		